<div class="d-flex flex-column flex-md-row justify-content-center align-items-center min-vh-100 ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">
      <h1 class="text-info mb-4">
        <i class="bi bi-graph-up"></i> SMART TAX CALCULATOR
      </h1>

      <button class="btn btn-md btn-info mb-5" [routerLink]="['/personal']" routerLinkActive="router-link-active">
        Get Your Tax Estimate Now!
      </button>

      <div class="fs-5 mb-5">
        Managing taxes can be complicated, but the Smart Tax Calculator makes it simple. Designed for individuals and
        businesses alike, our app offers an easy-to-use platform to accurately estimate your taxes, maximize deductions,
        and stay compliant with the latest regulations. With real-time calculations, personalized insights, and a clean,
        intuitive interface, Smart Tax Calculator takes the guesswork out of tax season — helping you save time, money,
        and stress.
      </div>

      <button class="btn btn-lg btn-info mt-3" [routerLink]="['/personal']" routerLinkActive="router-link-active">
        <i class="bi bi-calculator"></i> Start Estimating
      </button>
    </div>
  </div>
</div>